#PORT=8080 - Puerto donde se levanta el servicio
#NODE_ENV=development|test|production - Ambiente donde se va a desplegar
#MONGO_URL=mongodb://localhost:27017/ - Cadena de conexión de la instancia de Mongodb
#JWT_SECRET=clave_super_secreta - Secreto de la firma del JWT