PORT=8080 # Puerto donde se levanta el servicio
NODE_ENV=development # Ambiente donde se va a desplegar. Cualquiera de estos valores: development|test|production
MONGO_URL=mongodb://localhost:27017/ # Cadena de conexión de la instancia de Mongodb
JWT_SECRET=clave_super_secreta # Secreto de la firma del JWT
JWT_EXPIRES_IN=1h # Tiempo en que expira el JWT
MAIL_HOST=smtp.gmail.com # Host del servidor de correos
MAIL_PORT=465 # Puerto del servidor de correos
MAIL_USER=xxx@domain.com # Usuario de la cuenta de correo
MAIL_PASS=aaaa bbbb cccc ffff # Contraseña de aplicacion de la cuenta de correo
MAIL_FROM=xxx@domain.com # Correo emisor con el que se envian los correos