PORT=8080 # Puerto donde se levanta el servicio
NODE_ENV=development # Ambiente donde se va a desplegar. Cualquiera de estos valores: development|test|production
MONGO_URL=mongodb://localhost:27017/ # Cadena de conexión de la instancia de Mongodb
JWT_SECRET=clave_super_secreta # Secreto de la firma del JWT